@font-face {
  font-family: quicksand;
  src: url(Quicksand_Book.otf);
}

body {
  background: url(assets/wallpaper.gif);
  background-size: cover;

}

.font {
  color: rgb(141, 74, 74);
}

.font-style {
  font-family: quicksand;
}

h1 {
  padding-bottom: 100px;
}


.container {
  background-color: white;
  background: transparent;
  margin-left: 1000px;
  font-family: quicksand;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 500px;
  border-radius: 30px;
  margin-top: 25vh;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
}

.input{
  border-radius: 30px;
  height: 40px;
  width: 250px;
  margin-bottom: 10px;
  border: solid rgb(138, 130, 130) 1px;
  font-size: 20px;
  color: rgb(141, 74, 74);
  position: relative;
  bottom: 60px;
  padding-left: 25px;
  background: transparent;
}

input::placeholder{
  color: rgb(141, 74, 74);
  font-size: 20px;
}

.button {
  border-radius: 30px;
  height: 50px;
  width: 280px;
  background-color: rgb(141, 74, 74);
  border: solid 0px;
  cursor: pointer;
  color: white;
  position: relative;
  bottom: 60px;
  font-size: 20px;
}
